<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24918290511-e9b7f1ct9gpvkpetuopd61rt2430mm5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24918290511-e9b7f1ct9gpvkpetuopd61rt2430mm5s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24918290511-37f6n0q24s9tu0ron4thfds5gs8n8tll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByaE1L5CITXxObTKoTHGNAclh6z8LNWRo</string>
	<key>GCM_SENDER_ID</key>
	<string>24918290511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaidehicabapp.vr</string>
	<key>PROJECT_ID</key>
	<string>vaidehi-cab-vr</string>
	<key>STORAGE_BUCKET</key>
	<string>vaidehi-cab-vr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24918290511:ios:fc0982c7287963146e3a3a</string>
	<key>DATABASE_URL</key>
	<string>https://vaidehi-cab-vr-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>